body{
    text-align: center;
}
#header{
    margin:8px;
    padding:4px;
}
#counter{
    font-size:2em;
    margin:4px;
}
button{
    color:#eeffee;
    background-color:#aa1111;
    width:11em;
    padding:0.5em;
    margin:0.5em;
    border-radius:1em;
}
